In [23]:
'''
error Exception handling :the process that handle unexpected event \
TypeError
SyntaxError
MemoryError
ValueError

'''
number=input("enter the any number that want to generate table")

try:
    for i in range(1,11):
        print(f"{int(number)} X {i} = {int(number)*i}")
except :
    print("invalid input type")
finally:
    a=12
    b=23
    print("add two number  ",a+b)

enter the any number that want to generate table0
0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0
0 X 10 = 0

In [31]:
#custom error 
#raise key_words use 
num=int(input("enter the nun in 1 to 10"))
if num<1 or num>10:
    raise ValueError("valide input enter")
else:
    print("==Table create===")
    for i in range(1,11):
        print( f"{num} X {i} ={num*i}")

enter the nun in 1 to 10str

ValueError: invalid literal for int() with base 10: 'str'

In [7]:
first_num=int(input("enter the first number"))
sec_num= int(input("enter the  second number"))

enter the first number12
enter the  second number34

In [9]:
try:
    result=first_num/sec_num
    print(f" {first_num} / {sec_num} =  {result}")
except ZeroDivisionError:
    print("you cannot divide with zero 0")
except ValueError:
    print("only integer number allowed ")
finally:
    print("Thanks for using me")

 12 / 34 =  0.35294117647058826
Thanks for using me