In [49]:
'''
String :
rep:('',"",''' ''')
immutable
'''
name='aqib'
s_name="hussain"
my_intro='''my name is aqib hussain,I belong to GilgiltBaltisan and I am Computer Science student '''
print(name,s_name,my_intro)

aqib hussain my name is aqib hussain,I belong to GilgiltBaltisan and I am Computer Science student

In [50]:
#access by index
print(name[0])

a

In [51]:
'''
scilicing syntax
start,stop,step
by defualt 
start-0 
stop -end
step - 1
use for complex string specific point access
'''
print(my_intro[12:53])
print(my_intro[1: :2])
print(my_intro[1:60 :3])

qib hussain,I belong to GilgiltBaltisan a
ynm sai usi, eogt iglBlia n  mCmue cec tdn
ya  ihsn lgoiiBtaa a

In [52]:
# concatenate()
Full_name=name+s_name
print(Full_name)
full_name=Full_name.lower()
print(full_name)
Full_name=Full_name.upper()
print(Full_name)
Full_name=Full_name.title()
print(Full_name)
print(my_intro.title())

aqibhussain
aqibhussain
AQIBHUSSAIN
Aqibhussain
My Name Is Aqib Hussain,I Belong To Gilgiltbaltisan And I Am Computer Science Student

In [53]:
if "saqi" in my_intro:
    print("yes")
else:
    print("not found")

not found

In [54]:
''' 
List :
use for diff type if datatype in list
rep -[]
mutable
Dynamic
ordered'''
lst_1=[1,3,5,"saqi",True,3.14]
print(lst_1)

[1, 3, 5, 'saqi', True, 3.14]

In [55]:
#add 
lst_1[3]="Ali"
print(lst_1)

[1, 3, 5, 'Ali', True, 3.14]

In [56]:
#finde index number
print(lst_1.index("Ali"))

3

In [57]:
#update
lst_1[4]="mohammad"
print(lst_1)

[1, 3, 5, 'Ali', 'mohammad', 3.14]

In [58]:
#multi value add 
lst_1[3:5]=7,9
print(lst_1)

[1, 3, 5, 7, 9, 3.14]

In [62]:
lst_2=[2,4,6,8,10]
#concatenate
lst_3=lst_1+lst_2
print(lst_3)
#extend list
lst_1.extend(lst_2)
print(lst_1)

[1, 3, 5, 9, 3.14, 2, 4, 6, 8, 10]
[1, 3, 5, 9, 3.14, 2, 4, 6, 8, 10]

In [60]:
lst_1.pop(3)
print(lst_1)# del 7

[1, 3, 5, 9, 3.14]

In [61]:
#check 
check=7
if check in lst_1:
    print(check)
else:
    print("not found")

not found

In [71]:
#comprehension
Square=[sq**2 for sq in lst_1]
print(Square)

[1, 9, 25, 81, 9.8596, 4, 16, 36, 64, 100]

In [18]:
#nested list
qa_list=[["what is the boiling point of water ?"],["What is blockchain technology?"]]
option=[["75"," 90","100","101","c"],[" A decentralized database"," A centralized ledger system"," A cloud storage service"," A type of machine learning model","d"]]       
level=[1,2,3,4]
amount=[10000,100000,1000000,10000000]
for i, j in zip(qa_list,option):
    print(i)
    print(f"a) {j[0]}, b) {j[1]}  ,c) {j[2]} ,d) {j[3]}")
    uchoice=input("enter u choice")
    if uchoice==j[-1]:
        print("correct")
    else:
        print("wrong")
#     print(f"Q{i+1}: {i} ")
#     print(f"a) {j+1}    b) {j+2}     c) {j+3}       d) {j+4}")

['what is the boiling point of water ?']
a) 75, b)  90  ,c) 100 ,d) 101
enter u choicec
correct
['What is blockchain technology?']
a)  A decentralized database, b)  A centralized ledger system  ,c)  A cloud storage service ,d)  A type of machine learning model
enter u choicea
wrong