In [6]:
'''
Tuple :
rep --- ()
immutable mean cannot change it only access it 
methode(len,min,max,count,index,sort)
'''
T1=(1,2,3,4,5)
#find length of tuple
print("length of tuple",len(T1))
#find min value
print("minimun number in tuple",min(T1))
#find max value
print("maximun number in tuple",max(T1))
#indexing
print("first value in tuple",T1[1])
#slicing 
print("first value in tuple",T1[1:4])

length of tuple 5
minimun number in tuple 1
maximun number in tuple 5
first value in tuple 2
first value in tuple (2, 3, 4)

In [35]:
'''
Dictionary 
rep--- {}
mutable means changeable
Dynamic 
order form
pair-value --name:saqi
'''
my_dict={
    "name":"saqi",
    "roll_no":1234,
    "age":22
}
#add new pair value
my_dict["name"]=["ali","saqi","kamran","anees"]
print(my_dict)

{'name': ['ali', 'saqi', 'kamran', 'anees'], 'roll_no': 1234, 'age': 22}

In [33]:
#update
my_dict["roll_no"]=[234,232,56,675,789]
print(my_dict)

{'roll_no': [234, 232, 56, 675, 789], 'date_Of_birth': '15_04_2000'}

In [14]:
#access key in dictionary
keys=my_dict.keys()
print(keys)

dict_keys(['name', 'roll_no', 'age', 'date_Of_birth'])

In [15]:
#access values in dictionary
values=my_dict.values()
print(values)

dict_values(['saqi', 470, 22, '15_04_2000'])

In [25]:
#access values by keys
print(my_dict["age"])

22

In [29]:
#delete key -value in dictionary
del my_dict["age"]
print(my_dict)

{'roll_no': 470, 'date_Of_birth': '15_04_2000'}

In [36]:
#items give keys and values 
my_dict.items()

dict_items([('name', ['ali', 'saqi', 'kamran', 'anees']), ('roll_no', 1234), ('age', 22)])

In [39]:
for i in my_dict.keys():
    print(i)

name
roll_no
age

In [40]:
for i in my_dict.values():
    print(i)

['ali', 'saqi', 'kamran', 'anees']
1234
22

In [41]:
for i in my_dict.items():
    print(i)

('name', ['ali', 'saqi', 'kamran', 'anees'])
('roll_no', 1234)
('age', 22)